<!-- adauga_cheltuiala.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugă Cheltuială</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('interogare') }}"> Interogare </a>
        <a href="{{ url_for('adauga_venit') }}"> Adaugă Venit </a>
    </nav>

    <h1>Adaugă Cheltuială</h1>

    <form method="POST" action="{{ url_for('adauga_cheltuiala') }}">
        <label for="suma_cheltuiala">Suma:</label>
        <input type="text" name="suma_cheltuiala" required>
        <label for="moneda_cheltuiala">Moneda:</label>
        <select name="moneda_cheltuiala" required>
            <option value="RON">RON</option>
            <option value="Euro">Euro</option>
            <option value="Dolar">Dolar</option>
            <option value="Lira">Lira</option>
        </select>
        <label for="categorie_cheltuiala">Categorie:</label>
        <select name="categorie_cheltuiala" required>
            {% for categorie in categorii_cheltuieli %}
                <option value="{{ categorie }}">{{ categorie }}</option>
            {% endfor %}
        </select>
        <!-- Adăugați următoarele două linii la sfârșitul form-ului -->
        <button type="submit">Adaugă cheltuială</button>
    </form>

    <h2>Istoric Cheltuieli</h2>
    <ul>
        {% for cheltuiala in cheltuieli %}
            <li>Suma: {{ cheltuiala.suma }}, Moneda: {{ cheltuiala.moneda }}, Categorie: {{ cheltuiala.categorie }}, Data/Ora: {{ cheltuiala.data_ora }}</li>
        {% endfor %}
    </ul>

    <!-- Adăugați următoarea linie pentru butonul de printare -->
    <p><a href="{{ url_for('raport_cheltuieli') }}" target="_blank">Printează Raport Cheltuieli</a></p>

    <p><a href="{{ url_for('index') }}">Înapoi la Pagina Principală</a></p>
</body>
</html>
