<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Financiar</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('interogare') }}">Interogare Finante</a>
        <a href="{{ url_for('adauga_venit') }}">Adaugă Venit</a>
        <a href="{{ url_for('adauga_cheltuiala') }}">Adaugă Cheltuială</a>
    </nav>

    <h1>Management Financiar</h1>

    <h2>Bine ai venit pe pagina de management financiar. Aici poti sa iti introduci informatiile cu privire la venituri si cheltuieli si sa verifici care au fost cheltuielile si veniturile din trecut. FOloseste bara de navigatie din partea superioara a acestei pagini pentru a te misca intra diversele optiuni oferite de pagina.</h2>
</body>
</html>
